# Development Environment.
NODE_ENV='development'

# Sanity project environment variables.
SANITY_PROJECT_DATASET='production'
SANITY_PROJECT_ID='XXXXXX'
SANITY_API_TOKEN='XXXXXX'

# Chec/Commerce.js environment variables.
NEXT_PUBLIC_CHEC_PUBLIC_KEY='XXXXXX'
CHEC_API_URL='api.chec.io'
CHEC_WEBHOOK_SIGNING_KEY='XXXXXX'