@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-sans);

	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);

	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--color-white: #ffffff;
	--color-black: #000000;

	--color-primary-50: #ddf3ff;
	--color-primary-100: #aedaff;
	--color-primary-200: #91d5ff;
	--color-primary-300: #4aa6ff;
	--color-primary-400: #1a8cfe;
	--color-primary-500: #0173e5;
	--color-primary-600: #0059b3;
	--color-primary-700: #004081;
	--color-primary-800: #002650;
	--color-primary-900: #000e20;

	--color-neutral-50: #f5f5f5;
	--color-neutral-100: #f0f0f0;
	--color-neutral-200: #d9d9d9;
	--color-neutral-300: #bfbfbf;
	--color-neutral-400: #8c8c8c;
	--color-neutral-500: #595959;
	--color-neutral-600: #434343;
	--color-neutral-700: #262626;
	--color-neutral-800: #1f1f1f;
	--color-neutral-900: #141414;

	--color-success-50: #f6ffed;
	--color-success-100: #d9f7be;
	--color-success-200: #b7eb8f;
	--color-success-300: #95de64;
	--color-success-400: #73d13d;
	--color-success-500: #52c41a;
	--color-success-600: #389e0d;
	--color-success-700: #237804;
	--color-success-800: #135200;
	--color-success-900: #092b00;

	--color-warning-50: #feffe6;
	--color-warning-100: #ffffb8;
	--color-warning-200: #fffb8f;
	--color-warning-300: #fff566;
	--color-warning-400: #ffec3d;
	--color-warning-500: #fadb14;
	--color-warning-600: #d4b106;
	--color-warning-700: #ad8b00;
	--color-warning-800: #876800;
	--color-warning-900: #614700;

	--color-error-50: #fff1f0;
	--color-error-100: #ffccc7;
	--color-error-200: #ffa39e;
	--color-error-300: #ff7875;
	--color-error-400: #ff4d4f;
	--color-error-500: #f5222d;
	--color-error-600: #cf1322;
	--color-error-700: #a8071a;
	--color-error-800: #820014;
	--color-error-900: #5c0011;

	--color-social-google: #ea4335;
	--color-social-facebook: #1877f2;
	--color-social-twitter: #1da1f2;
	--color-social-instagram: #405de6;
	--color-social-github: #333333;
	--color-social-linkedin: #0077b5;

	--breakpoint-xs: 22.5rem; /* 360px */
	--breakpoint-sm: 36rem; /* 576px */
	--breakpoint-md: 48rem; /* 768px */
	--breakpoint-lg: 62rem; /* 992px */
	--breakpoint-xl: 75rem; /* 1200px */
	--breakpoint-2xl: 87.5rem; /* 1400px */
	--breakpoint-3xl: 112.5rem; /* 1800px */

	--animate-dot-bounce: dot-bounce 1.4s infinite ease-in-out both;

	@keyframes dot-bounce {
		0%,
		80%,
		100% {
			transform: scale(0.3);
			opacity: 0.3;
		}
		40% {
			transform: scale(1);
			opacity: 1;
		}
	}
}

:root {
	--radius: 0.625rem;

	--background: #ffffff;
	--foreground: #262626;

	--card: #ffffff;
	--card-foreground: #262626;

	--popover: #ffffff;
	--popover-foreground: #262626;

	--border: #d9d9d9;
	--input: #d9d9d9;
	--ring: #d9d9d9;

	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);

	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background text-foreground font-sans select-none;
	}

	a,
	button {
		@apply text-primary-600 inline-block font-normal transition;
	}

	a:hover,
	button:hover {
		@apply text-current;
	}

	a:focus,
	button:focus {
		@apply outline-none;
	}

	a:focus-visible,
	button:focus-visible {
		@apply outline-2 outline-offset-4 outline-neutral-600 outline-dotted;
	}
}
