SANITY_STUDIO_SANITY_PROJECT_ID="<SANITY_PROJECT_ID>"
SANITY_STUDIO_DATASET="<SANITY_DATASET_NAME>"

SANITY_STUDIO_PREVIEW_URL="http://localhost:3000"
SANITY_STUDIO_PREVIEW_TOKEN="e91b9a99d2b6a002e5a115802e085de5"